---
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/picnic.css">
</head>

<body>
    <h1>
        notes
    </h1>
    <ul>
        {{#each collections.all}}
        <a href="{{page.url}}">{{page.url}}</a>
        {{/each}}
    </ul>
    {{#each collections.all}}
    {{{content}}}
    {{/each}}
</body>

</html>